/* Styling for sticky (none by default) */
#sticky{
    display: none;
    font-size: 0;
}

/* Styling for nav box (none by default) */
#gold_box_nav{
    display: block;

    width: 65%;
    padding: 1.2rem;
    margin: 0.8rem auto;
    margin-top: 0rem;
    line-height: 1.6rem;

    background-color: #FFF2E8;
    color: #C19828;

    border-style: solid;
    border-width: .12rem;
    border-color: #C19828;
    border-radius: 1rem;
}

/* Styling for navigation buttons */
#nav_buttons{
    height: 100%;
    text-align: right;
    font-size: 0;
}

#nav_button{
    height: 100%;
    padding: .8rem;
    align-self: right;
    border-radius: 0;
    border: none;
    border-left: 0.085rem solid #A18104;
}

#nav_button:hover{
    border-color: #A18104;
    background-color: #A18104;
    color: #FFF2E8;
}

/* Styling for invitation image */
#invitation{
    background-color: transparent;
}

/* Styling for countdown */
#count_cont{
    background-color: transparent;
}

/* Styling for paragraphs */
p{
    background-color: transparent;
}

/* Styling for header photo(s) */
#top_photo{
    display: none;
}

/* Styling for phone background of portrait mode */
#phone_pic{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Styling for container (opague color) of portriat */
#container{
    position: absolute;
    top: 50vh;
    background: linear-gradient(0deg, rgba(255, 241, 232, 1.0) 0%, rgba(255, 241, 232, 0.80) 75%, rgba(255, 241, 232, 0.0) 100%);
    background-attachment: scroll;
    width: 100%;
}

/* Styling for whitespace */
#whitespace{
    display: inline;
    line-height: 15vh;
}

/* Styling for bigger screens */
@media screen and (orientation: landscape){
    /* Styling for sticky header */
    #sticky{
        display: grid;
        grid-template-columns: auto auto;
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* Remove styling for the main menue */
    #gold_box_nav{
        display: none;
    }

    /* Remove styling for the white space */
    #whitespace{
        display: none
    }

    #top_photo{
        display: block;
        width: 100%;
        min-width: width;
        margin: 0;
    }

    #phone_pic{
        display: none;
    }

    #container{
        display: inline-block;
        top: 0;
    }

    /* Removes spacing in landscape mode */
    #space{
        height: 0px;
    }

    /* Removes container in landscape mode */
    #container{
        background-color: rgb(255, 241, 232);
    }
}
