/*
Styling that deals wiht ALL HTML files
*/

/* Default Styling */
*{
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    margin: 0;
    padding: none;
    border-radius: 0;
    font-size: clamp(2.2vh, 5.6rem, 1.2vw);
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    font-weight: normal;
    color: black;
    background-color: transparent;
}

/* Styling for body */
body{
background-color: rgb(189, 223, 227);
}

/* Styling for header */
header{
    background-color: #F2F6EB;
}

/* Styling for a tag */
a:not(#nav_marker){
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0.8rem auto;
}

/* Transparent paragraphs */
p{
    background-color: transparent;
}

/* Styling for Title */
.center{
    text-align: center;
    align-self: center;
    align-items: center;
}

/* Styling for labels */
label{
    background-color: transparent;
}

/* Styling for text areas */
textarea{
    resize: none;
    width: 70%;
    font-size: .9rem;
    padding: .3rem;
    border-style: solid;
    border-width: 0.085rem;
    border-radius: 0.2rem;
    border-color: #572600;
    background-color: #F2F6EB;
}

textarea::selection{
    resize: none;
    width: 70%;
    font-size: .9rem;
    padding: .3rem;
    border-style: solid;
    border-width: 0.085rem;
    border-radius: 0.2rem;
    border-color: #572600;
}

/* Styling for buttons */
button{
    background-color: transparent;
    font-size: .9rem;
    padding: .3rem;
    border-style: solid;
    border-width: 0.085rem;
    border-radius: 0.2rem;
}

button:hover{
    cursor: pointer;
}

/* Styling for inputs, when a radio */
input[type=radio]{
    background-color: transparent;
    cursor: pointer;
    height: 0.7rem;
    width: 0.7rem;
}

/* Styling for party_input (a textarea with a datalist) */
input[type=search]{
    resize: none;
    width: 70%;
    font-size: .9rem;
    padding: .3rem;
    border-style: solid;
    border-width: 0.085rem;
    border-radius: 0.2rem;
    border-color: #572600;
    background-color: #F2F6EB;
}

input[type=search]::selection{
    resize: none;
    width: 70%;
    font-size: .9rem;
    padding: .3rem;
    border-style: solid;
    border-width: 0.085rem;
    border-radius: 0.2rem;
    border-color: #572600;
}

/* Styling for required fields (adding astrick) */
.required:after{
    content: " *";
    color: red;
}

/* Styling for headers */
h1{
    background-color: transparent;
}

h2{
    display: inline;
    background-color: transparent;
}

h3{
    font-size: 1rem;
    padding: 0.1rem;
    padding-left: 0.5rem;
    
    color: black;
}

/* Styling for person boxes */
.pers_box{
    background-color: #F2F6EB;

    width: 65%;
    padding: 1.2rem;
    margin: 0rem auto;
    margin-bottom: 1.6rem;
    line-height: 1.6rem;

    border-style: solid;
    border-width: .12rem;
    border-color: black;
    border-radius: 1rem;
    
}

/* Styling for gold box */
#gold_box{
    width: 65%;
    padding: 1.2rem;
    margin: 0.8rem auto;
    margin-top: 0rem;
    line-height: 1.6rem;

    color: black;
    background-color: #F2F6EB;

    border-style: solid;
    border-width: .12rem;
    border-color: black;
    border-radius: 1rem;
}

/* Styling for gold button */
.gold_button{
    display: block;
    margin: 0.8rem auto;
    
    border-color: black;
    color: white;
    background-color: rgb(160, 160, 160);
}

.gold_button:hover{
    border-color: rgb(145, 145, 145);
    background-color: rgb(145, 145, 145);
    color: white;
}

/* Styling for gold button in navigation */
.gold_button_nav{
    display: block;
    margin: 0.8rem auto;
    width: 5rem;

    border-color: black;
    color: white;
    background-color: rgb(160, 160, 160);
}

.gold_button_nav:hover{
    border-color: rgb(145, 145, 145);
    background-color: rgb(145, 145, 145);
    color: white;
}

/* Changes for unpublished buttons */
#unpublished{
    background-color: rgb(210, 210, 210);
    border-color: black;
}

#unpublished:hover{
    background-color: rgb(210, 210, 210);
    border-color: black;
    cursor: not-allowed;
}

/* Styling for text to be alligned right */
.al_le{
    text-align: left;
}

/* Styling for long pieces of text */
#long_txt{
    line-height: 2rem;
    font-size: 0.95rem;
}

/* Styling for image at the top of landing page */
#top_photo{
    width: 100%;
    min-width: width;
    margin: 0;

    overflow-x: hidden;
    overflow-y: hidden;
}

#background_photo{
    width: 100%;
    max-width: width;
    background-image: url(Images/landing2.jpg);
}

/* Styling for text at the top of the landing page */
#landing_text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 1rem;
    font-size: 1.25rem;
}

/* Styling for invintation */
#invite{
    max-width: 90%;
    max-height: 85%;
    max-height: 85vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for gold boxes as a grid */
#grid{
    border: none;
    display: grid;
    grid-template-columns: 100%;
    background-color: transparent;
}

/* Styling for ceremony image */
#cen_img{
    max-width: 90%;

    display: block;
    margin: auto;
}

/* Styling for text */
#cen_txt{
    max-width: 90%;

    display: block;
    margin-top: auto;
    margin-bottom: auto;
    
    background-color: transparent;
}

/* Styling for days untill wedding */
#countdown{
    font-size: 6rem;
}

#days_text{
    font-size: 1.75rem;
}

/* Update title for phone */
.diff{
    font-size: 1.0rem;
}
    
/* Styling for bigger screens */
@media screen and (orientation: landscape){
    #grid{
        border: none;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: transparent;
    }
    
    #long_txt{
        font-size: 1.1rem;
    }
}
